<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Aplikacja do hospitowania zajeć</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<!--    <link th:href="@{/styles/cssandjs/hospitationForm.css}" rel="stylesheet">-->
    <link th:href="@{/styles/cssandjs/style.css}" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.1.3/dist/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
</head>
<body>
<div th:replace="/fragments/sidebar">
</div>
<section class="home-section">
<div th:replace="/fragments/header"></div>

    <div class="home-content">
        <form method="POST" class="form-signin" th:object="${form}" th:action="@{/addToForm}">
            <h1 class="text-center mt-2" id="title">PROTOKÓŁ Z HOSPITACJI ZAJĘĆ</h1>
            <h5 class="fs-4 text-center" id="description"><b>Note:</b> Formularz należy wypełnić co najmniej 21 dni przed datą</h5>
            <h6 class="fs-5 text-center mb-5">Numer id <span th:text="${id}"></span></h6>

            <div class="FirstSection">
                <div class="sub-title text-center">
                    <h3>1. Informacje Wstępne</h3>
                </div>

                <div class="form-group row justify-content-center">
                    <label for="inputLabel1" class="col-sm-3 col-form-label">Prowadzący zajęcia/Jednostka organizacyjna:</label>
                    <div class="col-sm-3">
                        <input type="text" class="form-control" id="inputLabel1" placeholder="Prowadzący zajęcia">
                    </div>
<!--                    <div>Prowadzący zajęcia/Jednostka organizacyjna: <span></span></div>-->
                </div>

                <div class="form-group row justify-content-center">
                    <label for="inputLabel2" class="col-sm-3 col-form-label">Nazwa kursu/kierunek studiów:</label>
                    <div class="col-sm-3">
                        <input type="text" class="form-control" id="inputLabel2" placeholder="Nazwa kursu">
                    </div>
                </div>

                <div class="form-group row justify-content-center">
                    <label for="inputLabel3" class="col-sm-3 col-form-label">Kod kursu:</label>
                    <div class="col-sm-3">
                        <input type="text" class="form-control" id="inputLabel3" placeholder="Kod kursu">
                    </div>
                </div>

                <div class="form-group row justify-content-center">
                    <label for="inputLabel4" class="col-sm-3 col-form-label">Forma dydaktyczna:</label>
                    <div class="col-sm-3">
                        <input type="text" class="form-control" id="inputLabel4" placeholder="Forma dydaktyczna">
                    </div>
                </div>

                <div class="form-group row justify-content-center">
                    <label for="inputLabel5" class="col-sm-3 col-form-label">Sposób realizacji (tradycyjny, zdalny):</label>
                    <div class="col-sm-3">
                        <input type="text" class="form-control" id="inputLabel5" placeholder="Sposób realizacji">
                    </div>
                </div>

                <div class="form-group row justify-content-center">
                    <label for="inputLabel6" class="col-sm-3 col-form-label">Stopień i forma studiów:</label>
                    <div class="col-sm-3">
                        <input type="text" class="form-control" id="inputLabel6" placeholder="Forma studiów">
                    </div>
                </div>

                <div class="form-group row justify-content-center">
                    <label for="inputLabel7" class="col-sm-3 col-form-label">Semestr:</label>
                    <div class="col-sm-3">
                        <input type="text" class="form-control" id="inputLabel7" placeholder="Semestr">
                    </div>
                </div>

                <div class="form-group row justify-content-center">
                    <label for="inputLabel8" class="col-sm-3 col-form-label">Miejscie i termin zajęć (sala, budynek, dzień tygodnia, godziny):</label>
                    <div class="col-sm-3">
                        <input type="text" class="form-control" id="inputLabel8" placeholder="Termin">
                    </div>
                </div>

                <div class="form-group row justify-content-center">
                    <label for="inputLabel9" class="col-sm-3 col-form-label">Środowisko realizacji zajęć ( np. ZOOM, MS Teams, e-Portal PWr, inne):</label>
                    <div class="col-sm-3">
                        <input type="text" class="form-control" id="inputLabel9" placeholder="Środowisko">
                    </div>
                </div>
            </div>
            <div class="SecondSection mt-5">
                <div class="sub-title text-center">
                    <h3>2. Ocena formalna zajęć</h3>
                </div>
                <div class="form-group row justify-content-center">
                    <label class="col-sm-2 col-form-label">2.1. Czy zajecia rozpoczęły się punktualnie?</label>
                    <div>
                        <div class="custom-control custom-radio custom-control-inline">
                          <input type="radio" id="customRadioInline1" name="customRadioInline1" class="custom-control-input">
                          <label class="custom-control-label" for="customRadioInline1">Yes</label>
                        </div>
                        <div class="custom-control custom-radio custom-control-inline ml-1">
                          <input type="radio" id="customRadioInline2" name="customRadioInline1" class="custom-control-input">
                          <label class="custom-control-label" for="customRadioInline2">No</label>
                        </div>
                    </div>
                    <label for="inputLabel6" class="col-sm-3 col-form-label">Opóznienie zajec:</label>
                    <div class="col-sm-3">
                        <input type="text" th:field="*{opoznienieRozpoczeciaZajec}" class="form-control" placeholder="Opoznienie zajec">
                    </div>
<!--                    -->
                </div>

                <div class="form-group row justify-content-center">
                    <label class="col-sm-2 col-form-label">2.2. Czy sprawdzono obecność studentów?</label>
                    <div>
                        <div class="custom-control custom-radio custom-control-inline">
                          <input type="radio" id="customRadioInline3" name="customRadioInline2" class="custom-control-input">
                          <label class="custom-control-label" for="customRadioInline3">Yes</label>
                        </div>
                        <div class="custom-control custom-radio custom-control-inline ml-1">
                          <input type="radio" id="customRadioInline4" name="customRadioInline2" class="custom-control-input">
                          <label class="custom-control-label" for="customRadioInline4">No</label>
                        </div>
                    </div>
                </div>

                <div class="form-group row justify-content-center">
                    <label class="col-sm-2 col-form-label">2.3. Czy sala i jej wyposażenie są przystosowane do
                        formy prowadzonych zajęć?</label>
                    <div>
                        <div class="custom-control custom-radio custom-control-inline">
                          <input type="radio" id="customRadioInline5" name="customRadioInline3" class="custom-control-input">
                          <label class="custom-control-label" for="customRadioInline5">Yes</label>
                        </div>
                        <div class="custom-control custom-radio custom-control-inline ml-1">
                          <input type="radio" id="customRadioInline6" name="customRadioInline3" class="custom-control-input">
                          <label class="custom-control-label" for="customRadioInline6">No</label>
                        </div>
                    </div>
                </div>

                <div class="form-group row justify-content-center">
                    <label class="col-sm-2 col-form-label">2.3a. Czy prowadzący weryfikuje, że studenci go słyszą i widzą przekaz wideo?</label>
                    <div>
                        <div class="custom-control custom-radio custom-control-inline">
                          <input type="radio" id="customRadioInline7" name="customRadioInline4" class="custom-control-input">
                          <label class="custom-control-label" for="customRadioInline7">Yes</label>
                        </div>
                        <div class="custom-control custom-radio custom-control-inline ml-1">
                          <input type="radio" id="customRadioInline8" name="customRadioInline4" class="custom-control-input">
                          <label class="custom-control-label" for="customRadioInline8">No</label>
                        </div>
                    </div>
                </div>

                <div class="form-group row justify-content-center">
                    <label class="col-sm-2 col-form-label">2.4. Treść zajęć jest zgodna z programem kursu i umożliwia
                        osiągnięcie założonych efektów uczenia się ujętych w Karcie Przedmiotu?</label>
                    <div>
                        <div class="custom-control custom-radio custom-control-inline">
                          <input type="radio" id="customRadioInline9" name="customRadioInline5" class="custom-control-input">
                          <label class="custom-control-label" for="customRadioInline9">Yes</label>
                        </div>
                        <div class="custom-control custom-radio custom-control-inline ml-1">
                          <input type="radio" id="customRadioInline10" name="customRadioInline5" class="custom-control-input">
                          <label class="custom-control-label" for="customRadioInline10">No</label>
                        </div>
                    </div>
                </div>

                <div class="form-group row justify-content-center">
                    <label class="col-sm-2 col-form-label">2.4a. Czy prowadzący umożliwił studentom dostęp do informacji i materiałów
                        dydaktycznych przez środki komunikacji elektronicznej?</label>
                    <div>
                        <div class="custom-control custom-radio custom-control-inline">
                          <input type="radio" id="customRadioInline11" name="customRadioInline6" class="custom-control-input">
                          <label class="custom-control-label" for="customRadioInline11">Yes</label>
                        </div>
                        <div class="custom-control custom-radio custom-control-inline ml-1">
                          <input type="radio" id="customRadioInline12" name="customRadioInline6" class="custom-control-input">
                          <label class="custom-control-label" for="customRadioInline12">No</label>
                        </div>
                    </div>
                </div>

                <div class="form-group row justify-content-center">
                    <label class="col-sm-2 col-form-label">2.5. Inne uwagi, wnioski i zalecenia dotyczące formalnej strony zajęć:</label>
                    <div class="form-group">
                        <label for="exampleFormControlTextarea1"></label>
                        <textarea class="form-control"  id="exampleFormControlTextarea1" rows="3" cols="50" placeholder="Inne uwagi"></textarea>
                    </div>
                </div>
            </div>
            <div class="ThirdSection mt-5" >
                <div class="sub-title text-center">
                    <h3>3. Ocena merytoryczna i metodyczna przeprowadzonych zajęć</h3>
                </div>

                <div>
                    <figcaption class="blockquote-footer text-center mb-1">
                        5,5 – wzorowa, 5 – bardzo dobra, 4 – dobra, 3 – dostateczna,
                        2 – negatywna, 0 – nie dotyczy
                    </figcaption>
                </div>

                <div class="form-group row justify-content-center">
                    <label for="inputLabel1" class="col-sm-5 col-form-label">1. Przedstawił temat, cel i zakres zajęć:</label>
                    <div th:replace="/fragments/marks"></div>
                </div>

                <div class="form-group row justify-content-center">
                    <label for="inputLabel1" class="col-sm-5 col-form-label">2. Wyjaśniał w zrozumiały sposób omawiane zagadnienia:</label>
                    <div th:replace="/fragments/marks"></div>
                </div>

                <div class="form-group row justify-content-center">
                    <label for="inputLabel1" class="col-sm-5 col-form-label">3. Realizował zajęcia z zaangażowaniem:</label>
                    <div th:replace="/fragments/marks"></div>
                </div>

                <div class="form-group row justify-content-center">
                    <label for="inputLabel1" class="col-sm-5 col-form-label">4. Inspirował studentów do samodzielnego myślenia (stawiania pytań, dyskusji,
                        samodzielnego rozwiązywania problemów/zadań itp.):</label>
                    <div th:replace="/fragments/marks"></div>
                </div>

                <div class="form-group row justify-content-center">
                    <label for="inputLabel1" class="col-sm-5 col-form-label">5. Udzielał merytorycznie poprawnych odpowiedzi na pytania studentów:</label>
                    <div th:replace="/fragments/marks"></div>
                </div>

                <div class="form-group row justify-content-center">
                    <label for="inputLabel1" class="col-sm-5 col-form-label">6. Stosował środki dydaktyczne (np. prezentacje multimedialne, materiały
                        dydaktyczne, sprzęt laboratoryjny, pokazy) adekwatnie do celów i treści zajęć:</label>
                    <div th:replace="/fragments/marks"></div>
                </div>

                <div class="form-group row justify-content-center">
                    <label for="inputLabel1" class="col-sm-5 col-form-label">7. Posługiwał się poprawnym językiem:</label>
                    <div th:replace="/fragments/marks"></div>
                </div>

                <div class="form-group row justify-content-center">
                    <label for="inputLabel1" class="col-sm-5 col-form-label">8. Panował nad dynamiką grupy:</label>
                    <div th:replace="/fragments/marks"></div>
                </div>

                <div class="form-group row justify-content-center">
                    <label for="inputLabel1" class="col-sm-5 col-form-label">9. Tworzył pozytywną atmosferę na zajęciach:</label>
                    <div th:replace="/fragments/marks"></div>
                </div>

                <div class="form-group row justify-content-center">
                    <label for="inputLabel1" class="col-sm-5 col-form-label">10. Sprawnie posługiwał się technicznymi środkami przekazu wiedzy:</label>
                    <div th:replace="/fragments/marks"></div>
                </div>

                <div class="form-group row justify-content-center">
                    <label for="inputLabel1" class="col-sm-5 col-form-label">11. Przekazywał aktualną wiedzę:</label>
                    <div th:replace="/fragments/marks"></div>
                </div>

                <div class="form-group row justify-content-center">
                    <label for="inputLabel1" class="col-sm-5 col-form-label">12. Przedstawiał materiał, który był przygotowany i uporządkowany:</label>
                    <div th:replace="/fragments/marks"></div>
                </div>

                <div class="form-group row justify-content-center">
                    <label for="inputLabel1" class="col-sm-5 col-form-label">13. Wykazał się umiejętnościami w zakresie nauczania (zwięzłość
                        przekazu, jakość narracji, zdolność nawiązywania kontaktu ze studentami, itp.):</label>
                    <div th:replace="/fragments/marks"></div>
                </div>

                <div class="form-group row justify-content-center">
                    <label for="inputLabel1" class="col-sm-5 col-form-label">14. Poprawnie dobierał przykłady – pod względem treści – do
                        omawianych problemów/zagadnień/zadań:</label>
                    <div th:replace="/fragments/marks"></div>
                </div>

                <div class="form-group row justify-content-center">
                    <label for="inputLabel1" class="col-sm-5 col-form-label">15. Tempo prowadzonych zajęć dostosował do możliwości
                        percepcyjnych studentów i użytych form przekaz:</label>
                    <div th:replace="/fragments/marks"></div>
                </div>

                <div class="form-group row justify-content-center">
                    <label for="inputLabel1" class="col-sm-5 col-form-label">16. Był przygotowany merytorycznie do danej formy zajęć:</label>
                    <div th:replace="/fragments/marks"></div>
                </div>

                <div class="form-group row justify-content-center">
                    <label for="inputLabel1" class="col-sm-5 col-form-label">17. Jasno określił zadania dla studentów:</label>
                    <div th:replace="/fragments/marks"></div>
                </div>

                <div class="form-group row justify-content-center">
                    <label for="inputLabel1" class="col-sm-5 col-form-label">18. Odpowiednio rozplanował czas zajęć:</label>
                    <div th:replace="/fragments/marks"></div>
                </div>

                <div class="form-group row justify-content-center">
                    <label for="inputLabel1" class="col-sm-5 col-form-label">19. Kontrolował umiejętności zdobywane w trakcie zajęć i/lub w sposób
                        merytorycznie poprawny komentował i korygował
                        wypowiedzi/działania studentów:</label>
                    <div th:replace="/fragments/marks"></div>
                </div>

                <div class="form-group row justify-content-center">
                    <label for="inputLabel1" class="col-sm-5 col-form-label">20. Prowadził dokumentację zajęć (lista obecności, lista ocen, sprawozdania,
                        prace kontrolne itp.):</label>
                    <div th:replace="/fragments/marks"></div>
                </div>
            </div>
            <div class="FinalGradeSection text-center mt-5">
                <div class="sub-title text-center">
                    <h3>4. Ocena końcowa</h3>
                </div>

                <label>
                    Ocenę końcową z hospitacji wystawia się na podstawie średniej oceny merytorycznej <br>
                    i metodycznej S wyznaczonej w pkt. 3. z zastosowaniem poniższej skali. <br>
                    <b>Skala ocen:</b> <br>
                    wzorowa S ≥ 5,0; <br>
                    bardzo dobra: 5,0 > S ≥ 4,5;<br>
                    dobra: 3,5 ≤ S < 4,5;<br>
                    dostateczna: 2,5 ≤ S < 3,5;<br>
                    negatywna: S < 2,5<br>
                    Zespół hospitujący może obniżyć ocenę końcową, jeżeli ocena formalna hospitowanych zajęć<br>
                    (pkt. 2) wskazuje na rażące uchybienia.<br>
                </label>
                <div class="form-group row justify-content-center">
                    <label for="inputLabel1" class="col-sm-2 col-form-label"><b>Ocena końcowa:</b></label>
                    <div class="ml-1" th:replace="/fragments/marks"></div>
                </div>
            </div>
            <div class="Attetion1Section mt-5">
                <div class="sub-title text-center">
                    <h3>5. Uzasadnienie oceny końcowej</h3>
                </div>

                <div class="form-group row justify-content-center">
                    <div class="form-group">
                        <label for="exampleFormControlTextarea1"></label>
                        <textarea class="form-control" id="exampleFormControlTextarea2" rows="6" cols="70" placeholder="Uzasadnienie oceny końcowej"></textarea>
                    </div>
                </div>
            </div>
            <div class="Attetion2Section mt-5">
                <div class="sub-title text-center">
                    <h3>6. Wnioski i zalecenia</h3>
                </div>

                <div class="form-group row justify-content-center">
                    <div class="form-group">
                        <label for="exampleFormControlTextarea1"></label>
                        <textarea class="form-control" id="exampleFormControlTextarea3" rows="6" cols="70" placeholder="Wnioski i zalecenia"></textarea>
                    </div>
                </div>
            </div>
            <div class="form-group row justify-content-center">
                    <div>
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </div>
            </div>
        </form>
    </div>
</section>


<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.3/dist/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.1.3/dist/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
</body>
</html>