<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Aplikacja do hospitowania zajeć</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <link th:href="@{/styles/cssandjs/style.css}" rel="stylesheet">
  <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
</head>
<body>
<div th:replace="/fragments/sidebar"></div>


<section class="home-section">
  <div th:replace="/fragments/header"></div>

  <div class="home-content">

    <table class="styled-table">
      <thead>
      <tr>
        <th>Tytuł/stopień naukowy,
          imię i nazwisko hospitowanego
        </th>
        <th>Nazwa
          i kod kursu
        </th>
        <th>Liczba osób zapisanych
          na zajęcia dydaktyczne
        </th>
        <th>Miejsce i termin zajęć dydaktycznych</th>
        <th>Tytuł/stopień naukowy,
          imię i nazwisko członka zespołu hospitującego
        </th>
      </tr>
      </thead>
      <tbody>
      <tr th:each="course: ${courses} ">
        <td><span th:text="${course.name}"></span></td>
        <td><span th:text="${course.name}"></span><span th:text="${course.courseName}"></span></td>
        <td><span th:text="${course.countStudents}"></span></td>
        <td><span th:text="${course.termAndPlace}"></span></td>
        <td><span th:text="${course.personHospitation}"></span></td>
      </tr>
      </tbody>
    </table>
  </div>
</section>

</body>
</html>