<select class="custom-select col-sm-2 col-form-label" aria-label="Default select example">
    <option selected>Kliknij żeby wybrać ocenę</option>
    <option value="0">0</option>
    <option value="1">1</option>
    <option value="2">2</option>
    <option value="3">3</option>
    <option value="3.5">3.5</option>
    <option value="4">4</option>
    <option value="4.5">4.5</option>
    <option value="5">5</option>
    <option value="5.5">5.5</option>
</select>
