<div class="sidebar" xmlns:sec="http://www.w3.org/1999/xhtml">
    <div class="logo-details">
        <!--  <img class="img" th:src="@{/img/PWr.webp}" alt="alternatetext"> -->
        <span class="logo_name">PWr Hospitacja zajęć</span>
    </div>
    <ul class="nav-links">
        <div sec:authorize="hasRole('ROLE_ADMIN')">
            <li>
                <a th:href="@{/getHospitationPlan}">
                    <span class="links_name">Plan Hospitacji</span>
                </a>
            </li>
        </div>
        <div sec:authorize="hasAnyRole('ROLE_ADMIN', 'ROLE_HOSPITUJACY')">
            <li>
                <a th:href="@{/raportSemestralny}">
                    <span class="links_name">Raport Semestralny</span>
                </a>
            </li>
        </div>

        <li>
            <a th:href="@{/hospitationResult}">
                <span class="links_name">Wypiki hospitacji</span>
            </a>
        </li>
        <li>
            <a th:href="@{/proceduraHospitowania}">
                <span class="links_name">Procedura hospitowania </span>
            </a>
        </li>
        <li class="log_out">
            <form id="logoutForm" method="GET" th:action="@{/logout}">
                <input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}"/>
            </form>
            <a onclick="document.forms['logoutForm'].submit()"><span class="links_name">Logout</span></a>
        </li>
    </ul>
</div>